# Java binary files
*.class

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*

# IDE files
nbproject/
nb-configuration.xml
nbactions.xml

# build artifacts
target/

# build process
.sonar/

